@font-face {
	font-family: "Default-op";
	src: url("fonts/8bitoperator_jve.woff2") format('woff2'),
	url("fonts/8bitoperator_jve.woff") format('woff'),
	url("fonts/8bitoperator_jve.ttf") format('truetype');
}
body { 
	font-family: "Default-op";
	font-size:30px;
	color:white;
	-ms-content-zooming:none;  
    touch-action: none;
    content-zooming: none;
    overflow-y: hidden;
    overflow-x: hidden; 
    overflow-y: none; 
    overflow-x: none; 
}
h1, h2, h3 { 
	font-family: "Default-op";
	color:white;
}